
body {
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
}

.header {
	padding-left: 18px;
	padding-right: 18px;
	margin: 20px 0px;
}

#logo {
	height: 45px;
	align-self: center;
	padding-right: 20px;
}

.search_bar {
	display: inline-flex;
	position: absolute;
	margin-top: 5px;
}

#search {
	width: 350px;
	height: 30px;
	font-size: medium;
	border: 1px #CFCBC8 solid;
	border-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0; 
	padding-left: 10px;
}

button {
	background-color: #F56400;
	color: white;
	height: 34px;
	width: 80px;
	border-radius: 5px;
	border-style: none;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0; 
	font-size: 14px;
	margin-left: -3px;
}

.header_nav {
	float: right;
	color: #F56400;
}

.header_nav_list {
	list-style-type: none;
	margin-top: 7px;
	font-weight: 300;
}

.header_nav_list li {
	margin-right: 20px;
	display: inline;
}

#sell:hover, #register:hover {
	text-decoration-line: underline;
	color: #F56400;
}

#sign_in {
	border: #F56400 1px solid;
	border-radius: 4px;
	padding: 10px;
}

#sign_in:hover {
	background-color: #F2EEEE;
}

.cart_div {
	padding-left: 15px;
	border-left: #F2EEEE 1px solid;
	display: inline-grid;
}

.cart_div:hover {
	opacity:.5;
}

#cart_pic {
	height: 20px;
	filter: grayscale(100%);
}

#cart {
	margin: 0px;
	color: black;
}
#cart:hover {
	color: black;
}

.nav_bar {
	border-bottom: #F2EEEE 1px solid;
	border-top: #F2EEEE 1px solid;
	margin: 0px;
	height: 43px;
	padding: 0px;

}
.nav_bar_list {
	width: 60%;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	font-size: small;
	padding-left: 28px;
	color: gray;
	height: 25px;
	font-size: .9em;
}

.nav_bar_list li {
	height: 97%;
	font-weight: 300;
}

.nav_bar_list li:hover {
	color: black;
	border-bottom: #F56400 4px solid;
}

.content {
	margin: 0px 25px;
}

.results_bar {
	float: right;
	height: 30px;
	width: 81%;
	color: black;
	font-weight: 300;
	font-size: smaller;
}

.results_container {
	width: 81%;
	float: right;
}

.results {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.data {
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	width: 260px;
	margin-bottom: 20px;
}

.data li {
	list-style-type:none;
	text-overflow: ellipsis;
	width: 240px;
	white-space: nowrap;
	overflow: hidden;
	padding-bottom: 5px;
}

.data img {
	height: 230px;
	width: 260px;
	border-radius: 3px;
	padding-bottom: 5px;
}

.data img:hover{
	background-image: url(heart.png);
	background-repeat: no-repeat;
	background-position: inherit;
}


#price {
	font-weight: bold;
}

#shop_name {
	font-size: .8em;
	color: gray;
}

.sidebar {
	float: left;
	height: 1135px;
	width: 200px;
	border: #F2EEEE solid 1px;
	padding: 0px 15px;
	font-size: smaller;
}

.one {
	border-bottom: #F2EEEE 1px solid;
	margin-bottom: 15px;
}

.list {
	list-style-type: none;
	padding: 0px;
}

#list_head {
	font-weight: bold;
	padding-left: 0px;
}

.list li {
	padding-left: 10px;
	padding-bottom: 6px;
	font-weight: 300;
}

.list li:hover {
	text-decoration: underline;
}

.search_reset {
	padding-bottom: 6px;
}

h4 {
	margin: 0px;
	padding-bottom: 6px;
}

.radio {
	padding-bottom: 6px;
	font-weight: 300;
}

.radio:hover{
	text-decoration-line: underline;
}

.radio:active, .radio:visited{
	font-weight: bold;
}

.enter_location, .price_range {
	padding: 6px 0px 6px 22px;
}

#location {
	height: 30px;
	width: 125px;
	text-indent: 5px;
	font-weight: smaller;
	border-radius: 3px;
	border: solid 1px #F2EEEE;
}

#arrow {
	width: 35px;
	height: 35px;
	background-color: white;
	color: black;
	border: 1px solid #F2EEEE;
	border-radius: 3px;
	margin-left: 5px;
}

#price_range {
	width: 50px;
	height: 30px;
	text-indent: 5px;
	border-radius: 3px;
	border: solid 1px #F2EEEE;
}

#ship_to_select {
	width: 200px;
	height: 35px;
}

.colors_list {
	list-style-type: none;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	margin-top: 0px;
}

.colors_list li {
	width: 20px;
	height: 20px;
	padding: 0px;
	border: #F2EEEE 1px solid;
	border-radius: 4px;
}

#red {
	background-color: red;
}

#orange {
	background-color: orange;
}

#yellow {
	background-color: yellow;
}

#green {
	background-color: green;
}

#blue {
	background-color: blue;
}

#purple {
	background-color: purple;
}

#black {
	background-color: black;
}

#white {
	background-color: white;
}
