
body {
	cursor: pointer;
}

.header {
	padding-left: 18px;
	padding-right: 18px;
	margin: 20px 0px;
}

#logo {
	height: 45px;
	align-self: center;
	padding-right: 20px;
}

.search_bar {
	display: -webkit-inline-box;
	position: absolute;
	margin-top: 12px;

}

#search {
	width: 275px;
}

button {
	background-color: orange;
	color: white;
	height: 35px;
	width: 80px;
	border-radius: 5px;
	border-style: none;
}

.header_nav {
	float: right;
	color: orange;
	width: 25%;
}

.header_nav_list {
	list-style-type: none;
	display: flex;
	margin-top: 10px;
	padding-right: 15px;
	align-items: center;
	justify-content: space-between;
}

.header_nav_list li {
	margin-right: 20px;
}
#sell:hover, #register:hover {
	text-decoration-line: underline;
	color: orange;
}

#sign_in {
	border: orange 1px solid;
	border-radius: 4px;
	padding: 5px;
}

#sign_in:hover {
	background-color: lightgray;
}

.cart_div {
	padding-left: 15px;
	border-left: gray 1px solid;
}

#cart_pic {
	height: 20px;
	color: gray;
}

#cart {
	margin: 0px;
	color: black;
}
#cart:hover, #cart_pic:hover {
	color: gray;
}

.nav_bar {
	border-bottom: gray 1px solid;
	border-top: gray 1px solid;

}
.nav_bar_list {
	width: 60%;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	font-size: small;
	padding-left: 28px;
	color: gray;
}

.nav_bar_list li:hover {
	color: black;
	padding-bottom: 10px;
	border-bottom: orange 2px solid;
}

.data {
	display: flex;
	flex-wrap: wrap;
	width: 75%;
	float: right;
	height: 200px;
	width: 200px;
	margin-top: 50px;
}

.data li {
	list-style-type: none;
}

.sidebar {
	float: left;

}
